{% extends "page.njk" %}


{% block heading %}
  {{ backLink({
    href: CONTEXT_PATH,
    text: t("common.back")
  }) }}
{% endblock %}

{% block content %}

<h1>{{ t("error.problemWithService.title") }}</h1>
<p>{{ t("error.problemWithService.description") }}</p>

{% endblock %}